<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find datalayer_bringup)/urdf/datalayer_interfaces.ros2_control.xacro"/>

  <xacro:macro name="datalayer_hardware_interface_nrt_ros2_control">

    <ros2_control name="DataLayerHwInterface" type="system">
      <hardware>
        <plugin>datalayer_hardware_interface/DataLayerHardwareInterface_NRT</plugin>
      </hardware>

      <!--Addresses MUST ommit stating and ending backslash-->
      <gpio name="datalayer/scheduler">
        <xacro:state_interface_DataLayer_NRT 
          name="scheduler_counter" DL_address="scheduler/admin/info/common-data-rt" DL_variable="counter"/>
        <xacro:comand_interface_DataLayer_NRT initial_value="1.0"
          name="ping_timeout" DL_address="datalayer/server/settings" DL_variable="​serverIdlePingTimeout​"/>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
